@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f0f0;
    max-width: 1440px;
    margin: 0 auto;
}

/* navbar area */
.navbar {
    max-width: 1300px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
    padding: 10px 15px;
    margin: 20px 30px;
    gap: 20px;
    background: #fff;
    border-radius: 60px;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* logo area */
.logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: #414141;
}

.logo:hover {
    color: #5c7000;
}

/* header menu */
.header-menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-menu ul li a {
    color: #000;
    font-weight: 700;
}

.header-menu ul li {
    position: relative;
    display: inline-block;

}

.header-menu ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #002370;
    transition: width 0.9s ease;
}

.header-menu ul li:hover {
    color: #002370;
}

.header-menu ul li:hover::after {
    width: 100%;
}


/* Contact Button */
.contact-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #fc372d;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
}

.contact-button:hover {
    background-color: #e52b1f;
    color: #fff;
}